*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
 }
.log-in{
    background-image: url("../images/pexels-sebastians-1276518.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
}
.add-post-backg{
    background-image: url("../images/pexels-joshsorenson-1154505.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
}
nav{
    position: absolute;
    color: black;
    background: rgba(105, 108, 106, 0);
    display: flex;
    width: 95%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 8vw;
    margin-left: 20px;    
}
nav div{
    display: flex;
    justify-content:space-between  ;
}
nav .btn{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding:0.5vw 2.5vw;
    border-radius: 45px;
    background-color: rgb(248, 248, 248);
    margin: 4px;
}nav div .btn:hover
{
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}
.nav-holder{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navigation{
    position: relative;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.145);
    background-size: cover;
    background-position: center;
    height: 15vh;
    display: flex;
    width: 80%;
    padding: 10px 50px;
    align-items:center ;
    justify-content: space-between;
}
.navigation h3{
padding:3px;
border-radius: 12px;
margin-right: 5%;
color: rgb(0, 0, 0);
background-color:#29286e(255, 255, 255, 0.245);
}
.navigation h3:hover{
    color: rgb(247, 247, 247);
    background-color:#29286e;
    cursor: pointer;
    transition: all 0.5s ease;
}
.log-in h2{
    color: white;
}
.log-in-div {
    background-color: rgba(255, 255, 255, 0.193);
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    padding: 20px; 
    padding-top: 20px;
    border-radius: 20px;
}
.log-in-div form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-in-div form input{
    margin: 10px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    width: 35vw;
}
.log-in-div form button{
    border: 0;
    color: black;
    width: 50%;
    font-size: 1rem;
    padding:0.5vw 2.5vw;
    border-radius: 45px;
    background-color: rgb(248, 248, 248);
    margin: 4px;
}
.add-post-backg nav a{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 5px 20px;
    border-radius: 11px;
}
.add-post-backg nav a:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all s ease
}
.log-in-div form button:hover
{
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}


nav .links a{
   background-color: rgba(245, 222, 179, 0);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin: 20px;
    text-decoration: none;
}
nav .links a:hover{
    text-decoration: overline;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: rgba(245, 222, 179, 0);
}

.posts-holder{
    background-color: rgba(255, 255, 255, 0);
    margin-top:3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px; 
    padding-top: 20px;
}
.posts{
    width:85%;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}
.post{
    
    background-color: rgba(70, 85, 162, 0);
    width: 30%;
    padding: 0px;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post img{
    width:100% ;
    border-top-left-radius: 30px;
}
.post-txt{
    width: 100%;
    margin-top: 0px;
    
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: auto;
}
.post-txt h1{
    padding: 0px 8%;
    font-size: 1rem;
    margin-bottom: 20px;
}
.post-txt p {
    padding: 0px 8%;
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.post-txt div{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

.post-txt p{
    margin-left: 10px;
}
.post button{
    margin-top: 5px;
    padding: 5px;
    border-radius: 12px;
    border: 0;
    width: 80%;
    color: rgb(37, 45, 47);
    
    color: white;
    background-color: rgb(33, 51, 99);
}
.post button:hover{
    border: #29286e 2px solid;
    background-color: whitesmoke;
    color: #29286e;
    cursor: pointer;
    transition: all 0.5s ease;
}
.post .icon{
    width:15%;
}

 .holder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
 }
 .holder h2{
    color: white;
    margin-bottom: 40px;
 }
 .add-post-form{
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 20px;
    padding: 2%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .add-post-form input,textarea{
    margin: 10px;
    width: 70%;
    border: none;
    padding: 5px 10px;
    border-radius: 12px;
 }
 .add-post-form label{
    color: white;
 }
 .add-post-form button{
    width: 50%;
    border: none;
    border-radius: 12px;
    padding: 5px;
 }
 .add-post-form button:hover{
    color: #ffffff;
    background-color:#29286e;
    cursor: pointer;
 }
 .post-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 1vw;
 }
 .article{

    display: flex;
    width: 90%;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
 }
 .article h1{
    font-size: 1.5rem;
    margin-bottom: 2%;
 }
 .article p{
    padding-bottom: 5%;
 }
 .article-content{
    width: 80%;
    padding-left:  5vw;
    padding-top: 20px;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
 }
 .article-content img{
    
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.5);
    width: 70%;
    margin-bottom: 2%;
 }

 .author{
    background-color: rgba(255, 255, 255, 0.111);
    margin-top: 1px;
    width: 25vw;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-right-radius:30px;
 }
 .author img{
    display: flex;
    align-items: center;
    width: 50%;
 }
 .author p {
    font-size: 1rem;
 }